﻿@model TibFinanceDummy.Models.ViewModel.StudentViewModel
@{
    Layout = null;
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddNewStudent()">Add New Student</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Address</th>
                <th>Roll</th>
                <th>Mother Name</th>
                <th>FatherName</th>
                <th>BloodGroup</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Department Name</th>
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetStudentList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>
    <div id="paged">

    </div>
    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.StudentId, new { @id = "StudentId" })
                            @Html.HiddenFor(m => m.Std_Other_Info_ID, new { @id = "Std_Other_Info_ID" })
                            <div class="form-group mt-2">
                                @Html.TextBoxFor(m => m.StudentName, new { @id = "StudentName", @class = "form-control", @placeholder = "StudentName" })
                            </div>
                            <div class="form-group mt-2">
                                @Html.TextBoxFor(m => m.Roll, new { @id = "Roll", @class = "form-control", @placeholder = "Roll" })
                            </div>
                            <div class="form-group mt-2">
                                @Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @placeholder = "Address" })
                            </div>
                            <div class="form-group mt-2 ">
                                @Html.TextBoxFor(m => m.Std_Mother_Name, new { @id = "StdMotherName", @class = "form-control", @placeholder = "MotherName" })
                            </div>
                            <div class="form-group mt-2">
                                @Html.TextBoxFor(m => m.Std_Father_Name, new { @id = "StdFatherName", @class = "form-control", @placeholder = "FatherName" })
                            </div>
                            <div class="form-group mt-2">
                                @Html.TextBoxFor(m => m.Std_BloodGroup, new { @id = "StdBloodGroup", @class = "form-control", @placeholder = "BloodGroup" })
                            </div>
                            <div class="form-group mt-2">
                                @Html.TextBoxFor(m => m.Std_Phone, new { @id = "StdPhone", @class = "form-control", @placeholder = "Phone" })
                            </div>
                            <div class="form-group mt-2">
                                @Html.TextBoxFor(m => m.Std_Gender, new { @id = "StdGender", @class = "form-control", @placeholder = "Gender" })
                            </div>
                            <div class="form-group mt-2">
                                @Html.DropDownListFor(m => m.DepartmentId, ViewBag.ListOfDepartment as SelectList, "--Select Dept--", new { @id = "DropDwn", @class = "form-control" })
                            </div>
                            <div class="form-group mt-2">
                                <a href="#" class="btn btn-block btn-danger" id="SaveStudentRecord">Save</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        GetStudentList(1);
    });
    function StudentList(pageNum, pageSize) {
        $$("#SetStudentList").empty();
        $("#paged").empty();
        $.get("/Student/GetStudentList", null, GetAllStudents);
    }
    
    function GetAllStudents(StudentList) {
        var SetData = $("#SetStudentList");
        for (var i = 0; i < StudentList.length; i++) {
            var Data = "<tr class='row_" + StudentList[i].StudentId + "'>" +
                "<td>" + StudentList[i].StudentId + "</td>" +
                "<td>" + StudentList[i].StudentName + "</td>" +
                "<td>" + StudentList[i].Address + "</td>" +
                "<td>" + StudentList[i].Roll + "</td>" +
                "<td>" + StudentList[i].Std_Mother_Name + "</td>" +
                "<td>" + StudentList[i].Std_Father_Name + "</td>" +
                "<td>" + StudentList[i].Std_BloodGroup + "</td>" +
                "<td>" + StudentList[i].Std_Phone + "</td>" +
                "<td>" + StudentList[i].Std_Gender + "</td>" +
                "<td>" + StudentList[i].DepartmentName + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStudentRecord(" + StudentList[i].StudentId + ")' ><span class='glyphicon glyphicon-edit'></span>Edit</a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='ConfirmDelete(" + StudentList[i].StudentId + ")'><span class='glyphicon glyphicon-trash'></span>Delete</a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
        }
    }
    function PaggingTemplate(totalPage, currentPage) {
        var template = "";
        var TotalPage = totalPage;
        var CurrentPage = currentPage
        var PageNumberArray = [];
        var counter = 1;
        for (var i = currentPage; i <= totalPage; i++) {
            PageNumberArray[0] = currentPage;
            var FirstPage = 1;
            var LastPage = totalPage;
            if (totalPage != currentPage) {
                var ForwardOne = currentPage + 1;

            }
            var backwarOne = 1;
            if (currentPage > 1) {
                backwarOne = currentPage - 1;
            }
            template = "<p>" + CurrentPage + " of " + TotalPages + " pages</p>"
            template = template + '<ul class="pager">' +
                '<li class="previous"><a href="#" onclick="GetPageData(' + FirstPage + ')"><i class="fa fa-fast-backward"></i>&nbsp;First</a></li>' +
                '<li><select ng-model="pageSize" id="selectedId"><option value="20" selected>20</option><option value="50">50</option><option value="100">100</option><option value="150">150</option></select> </li>' +
                '<li><a href="#" onclick="GetPageData(' + BackwardOne + ')"><i class="glyphicon glyphicon-backward"></i></a>';
        }
    }
    function AddNewStudent() {
        $("#form")[0].reset();
        $("#StudentId").val(0);
        $("#DropDwn option:selected").text("--Select Dept--");
        //console.log('111')
        $("#ModalTitle").html("Add New Student");
        $("#MyModal").modal('show');
    }
    $("#SaveStudentRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Student/AddStudent",
            data: data,
            success: function (result) {
                window.location.href = "/Student/Index";
                $("#MyModal").modal("hide");
            }
        })
    })
    function EditStudentRecord(StudentId) {
        var url = "/Student/GetStudentById?StudentId=" + StudentId;
        $("#ModalTitle").html("Update Student Record");
        $("#MyModal").modal('show');
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#Std_Other_Info_ID").val(obj.Std_Other_Info_ID);
                $("#StudentId").val(obj.StudentId);
                $("#StudentName").val(obj.StudentName);
                $("#Address").val(obj.Address);
                $("#Roll").val(obj.Roll);
                $("#StdMotherName").val(obj.Std_Mother_Name);
                $("#StdFatherName").val(obj.Std_Father_Name);
                $("#StdBloodGroup").val(obj.Std_BloodGroup);
                $("#StdPhone").val(obj.Std_Phone);
                $("#StdGender").val(obj.Std_Gender);
                $("#DropDwn option:selected").text(obj.DepartmentName);
                $("#DropDwn option:selected").val(obj.DepartmentId);

            }
        })
    }
    var ConfirmDelete = function (StudentId) {
        var StuId = $("#StudentId").val();
        $.ajax({
            type: "POST",
            url: "/Student/DeleteStudentRecord?StudentId=" + StudentId,
            success: function (result) {
                $(".row_" + StudentId).remove();
            }
        })
    }
</script>